# Dependency directories
node_modules

# Coverage directory used by tools like istanbul
coverage

# Application build on local
lib

#Environment variables
.env

# nyc test coverage
.nyc_output

.DS_Store
npm-debug.log