@import '/common/variables';
@import '/common/toastr';
@import '/common/transitions';

body {
  margin: 0;
  background-color: whitesmoke;
}

.mainLoader {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small {
  font-size: 12px;
  margin-top: -15px;
}

.btn-create {
  margin-top: 20px;
}

.landing-page {
  min-height: 100vh;
  .landing-content {
    .about{
      margin-top: 100px;
      text-align: center;
      padding-right: 50px;
      h4 {
        font-family: $secondary-font;
      }
      h5 {
        margin-top: 50px;
      }
    }
    .forms {
      .login-tabs {
        margin-top: 20px;
        .tabs {
          background-color: whitesmoke;
          a {
            color: $primary-color;
          }
        }
      }
      h5 {
        font-family: $secondary-font;
        margin: 20px 0 40px 0;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.home-page {
  padding: 10px;
  min-height: 100vh;
  .card {
    .card-action {
      display: flex;
      justify-content: space-between;
      background-color: $primary-color;
    }
    .enlarge-card {
      height: 200px;
      overflow: hidden;
      .card-title {
        font-family: $secondary-font;
      }
      p {
        margin-top: 10px;
      }
    }
  }
}

.roles-page {
  padding: 10px;
  min-height: 100vh;
  #new-role-form {
    h4 {
      font-family: $secondary-font;
    }
  }
}

.users-page {
  padding: 10px;
  min-height: 100vh;
  .users-card {
    margin-top: 20px;
  }
}

.view-document {
  padding: 10px;
  min-height: 100vh;
  h4 {
    font-family: $secondary-font;
  }
  .document-actions {
    float: right;
    .btn-delete {
      margin-left: 5px;
    }
  }
  #document-rights {
    text-transform: capitalize;
  }
  .document-content {
    margin-top: 25px;
  }
}

.edit-profile-page {
  padding: 10px;
  min-height: 100vh;
  #toggle-password {
    margin-top: 50px;
  }
  .center-all {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .edit-profile-form {
    width: 250px;
  }
}

.new-document-page {
  padding: 10px;
  min-height: 100vh;
  .create-document {
    h3 {
      font-family: $secondary-font;
    }
    .select-input {
      width: 200px;
    }
    .tiny-mce {
      margin-bottom: 20px;
    }
  }
}

.navbar-main {
  background-color: $primary-color;
  .nav-wrapper {
    margin-left: 30px;
    margin-right: 30px;
    .brand-logo {
      font-family: $secondary-font;
    }
  }
}

.searchbar {
  display: flex;
  margin-top: 10px;
  @media screen and (max-width: 767px) {
    width: 170px;
  }
  i {
    margin-top: 25px;
    cursor: pointer;
  }
}

.sidebar {
  margin-top: 10px;
}
.admin-sidebar {
  margin-top: -15px;
}
.document-icons {
  float: right;
}

.profile {
  .profile-title {
    color: $primary-color;
  }
}

.headers {
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;
  padding: 0 10px;
}

.pagination {
  #paginationText {
    margin-top: 4px;
    font-weight: 500;
  }
}

.page-footer {
  padding-top: 0;
  background-color: $primary-color;
}

@media screen and (max-width: 767px) {
  h3, h4{
    font-size: 1em;
  }
}